.about {
    margin-left: 5%;
    margin-top: 7%;
    float: left;
    width: 50%;
}

.info {
    margin-top: 12%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.image {
    transform: scale(0.98);
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@media screen and (max-width:990px) {
    .home {
        display: grid;
        grid-template-columns: 1fr;
        width: 30px;
    }

    .info {
        width: 326px;
        margin-left: 10%;
    }

    .image {
        margin-left: 7px;
        width: 426px;
    }

}

@media screen and (max-width:650px) {
    .home {
        display: grid;
        grid-template-columns: 1fr;
    }

    .image {
        width: 261px;
        margin-left: -3%;
    }

    .info {
        width: 255px;
    }

}

@media screen and (max-width:420px) {
    .home {
        display: grid;
        grid-template-columns: 1fr;
    }

    .image {
        width: 339px;
        margin-left: 42%;
    }

    .info {
        width: 340px;
    }

}